<header class="flex justify-between items-center mb-8 ">
  <h1 class="text-2xl font-semibold">Participants Dashboard</h1>
  <div class="flex items-center justify-between gap-4 relative">
         {% comment %} Dropdown Toggle Button {% endcomment %}

    <button
      id="dropdownToggle"
      type="button"
      class="p-2 rounded-md bg-gray-200 hover:bg-gray-300 focus:outline-none"
    >
      ▼
    </button>
           {% comment %} Dropdown Menu  {% endcomment %}
    <div id="dropdownMenu" class="absolute right-0 mt-64 w-48 bg-white border rounded shadow-md hidden z-10">
      <ul class="py-2">
        <li>
          <a href="{% url "home" %}" class="block px-4 py-2 hover:bg-gray-100">
            Home
          </a>
        </li>
        <li>
          <a href="{% url "dashboard" %}" class="block px-4 py-2 hover:bg-gray-100">
            Dashboard
          </a>
        </li>
        <li>
          <form method="POST" action="{% url "sign-out" %}">
            {% csrf_token %}
            <button type='submit' class="block px-4 py-2 hover:bg-gray-100 w-full text-left">
              Logout
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</header>


