
{% extends "base.html" %}
{% block title %}Sign up{% endblock title %}
{% load static %}
{% block home %}

    <div class="bg-gray-50 h-[70vh] flex justify-center items-center">
        <div class="bg-white shadow-sm p-3 rounded-lg">
            <h1 class="text-xl font-semibold text-center p-3">Sign Up</h1>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <button type='submit' class="w-full bg-[#213555] hover:bg-[#3E5879] mt-5 py-2 px-4 rounded-md text-white">Sign Up</button>
                <p class="my-3">If you already have account <a href="{% url "sign-in" %}" class="text-cyan-500">Sign In!</a></p>
            </form>
        </div>
    </div>
{% endblock home %}
