{% extends "organizer/dashboard.html" %}
{% block title %}Create Category{% endblock title %}
{% load static %}
{% block content %}
    <div class="flex flex-col items-center justify-center mt-20">

        {% if id %}

            <h1 class="font-semibold text-2xl">Update Category</h1>
        {% else %}
            <h1 class="font-semibold text-2xl">Create Category</h1>

        {% endif %}


        <div>
            {% if  messages %}
                {% for message in messages %}
                    <div class='px-2 py-1 rounded-md {% if message.tags == 'success' %} bg-green-500 {% endif %}'>{{message}}</div>
                {% endfor %}
            {% endif %}


            <div>
                <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    <button type='submit' class="w-full bg-[#213555] hover:bg-[#3E5879] mt-5 py-2 px-4 rounded-md text-white ">submit</button>
                </form>
            </div>
        </div>
{% endblock content %}

